# Bazowy adres URL planu lekcji VULCAN Optivum
TIMETABLE_BASE_URL=

# (Opcjonalnie) Zewnętrzny URL proxy dla CORS lub ominięcia blokad sieciowych (np. http://localhost:8080)
# TIMETABLE_PROXY_URL=

# (Opcjonalnie) Wyłączenie sprawdzania certyfikatu SSL (przydatne, gdy serwer szkoły ma wygasły certyfikat)
# TIMETABLE_INSECURE_TLS=true
